
        @font-face {
            font-family: sw;
            src: url("./fuente/Starjedi.ttf");
        }

        body{
            position: relative;
            margin: 0;
            font-family: sw;
            background-image: url("img/icono.jpg");
            background-size: contain; 
            text-align: center;
            color: white;
            min-height: 100vh;
        }  
        
        .head{
            width: 100%;
            background-color: rgb(37, 49, 80);
        }
        .titulo{
            margin: 0;
        }
        
        .contenedor{
            height: 500px;
            display: block;
        }
        
        img {
            height: auto;
            width: 200px;
            transition: all 1000ms;
        }

        .imagen-personaje:hover{
            transform: translate(-5px, -5px);
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.562);
            width: 300px;
        }

        .contenedor .item{
            background-color: #4a464669;
            margin: 20px 0 20px 0;
            width: 100%;
        }

        .button{
            background-color: #4a4646dc;
            border-radius: 10%;
            width: 50%;
            margin: auto;
            cursor: pointer;
            transition: all 500ms;
        }

        .button:hover{
            transform: translate(-5px, -5px);
            background-color: #4a4646;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.562);
        }
        .button:active{
            transform: translate(-5px, -5px);
            background-color: #4a4646a6;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.562);

        }
        
        h4{
            padding: 20px 0;
            user-select: none;
        }

        .footer{
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: #4a4646a8;
        }

        ul{
            display: flex;
            justify-content: center;
            list-style:none;
            padding-left: 0;
        }
        li{
            text-decoration: none;
            margin: 20px 20px;
        }

        .icono{
            width: 30px;
            height: auto;
            transition: all 500ms;
        }

        .icono:hover{
            transform: translate(-5px, -5px);
        }


        
  